body {
    background-color: lightgray;
    font-family: sans-serif;
}

img {
    height: 500px;
    width: auto;
}

h1 {
    color:darkgreen;
}

h2 {
    color:darkgreen;
}

ol,
ul {
    background-color: darkgray;
}